In [17]:
#Import Dependencies
import pandas as pd
import numpy as np
import os
from pprint import pprint

In [18]:
input_path=os.path.join("Exports","cleaned.csv")

cleaned_df = pd.read_csv(input_path)
cleaned_df.head()

,ISO3,ISO3.1,country,mkt_name,DATES,currency,data_coverage,data_coverage_recent,index_confidence_score,spatially_interpolated,...,inflation_yam,trust_yam,o_yogurt,c_yogurt,inflation_yogurt,trust_yogurt,o_food_price_index,c_food_price_index,inflation_food_price_index,trust_food_price_index
0,0,AFG,Afghanistan,Badakhshan,2007-01-01,AFN,34.73,82.29,0.93,0,...,NaN,NaN,NaN,NaN,NaN,NaN,0.61,0.61,NaN,7.7
1,1,AFG,Afghanistan,Badakhshan,2007-02-01,AFN,34.73,82.29,0.93,0,...,NaN,NaN,NaN,NaN,NaN,NaN,0.61,0.60,NaN,7.7
2,2,AFG,Afghanistan,Badakhshan,2007-03-01,AFN,34.73,82.29,0.93,0,...,NaN,NaN,NaN,NaN,NaN,NaN,0.60,0.61,NaN,7.7
3,3,AFG,Afghanistan,Badakhshan,2007-04-01,AFN,34.73,82.29,0.93,0,...,NaN,NaN,NaN,NaN,NaN,NaN,0.61,0.63,NaN,7.7
4,4,AFG,Afghanistan,Badakhshan,2007-05-01,AFN,34.73,82.29,0.93,0,...,NaN,NaN,NaN,NaN,NaN,NaN,0.64,0.69,NaN,7.7

In [19]:
# Rename some columns
cleaned_df.rename(columns={"mkt_name": "market", "ISO3": "index", "ISO3.1": "ISO3 code"}, inplace=True)
columns = cleaned_df.columns
cleaned_df.head()

,index,ISO3 code,country,market,DATES,currency,data_coverage,data_coverage_recent,index_confidence_score,spatially_interpolated,...,inflation_yam,trust_yam,o_yogurt,c_yogurt,inflation_yogurt,trust_yogurt,o_food_price_index,c_food_price_index,inflation_food_price_index,trust_food_price_index
0,0,AFG,Afghanistan,Badakhshan,2007-01-01,AFN,34.73,82.29,0.93,0,...,NaN,NaN,NaN,NaN,NaN,NaN,0.61,0.61,NaN,7.7
1,1,AFG,Afghanistan,Badakhshan,2007-02-01,AFN,34.73,82.29,0.93,0,...,NaN,NaN,NaN,NaN,NaN,NaN,0.61,0.60,NaN,7.7
2,2,AFG,Afghanistan,Badakhshan,2007-03-01,AFN,34.73,82.29,0.93,0,...,NaN,NaN,NaN,NaN,NaN,NaN,0.60,0.61,NaN,7.7
3,3,AFG,Afghanistan,Badakhshan,2007-04-01,AFN,34.73,82.29,0.93,0,...,NaN,NaN,NaN,NaN,NaN,NaN,0.61,0.63,NaN,7.7
4,4,AFG,Afghanistan,Badakhshan,2007-05-01,AFN,34.73,82.29,0.93,0,...,NaN,NaN,NaN,NaN,NaN,NaN,0.64,0.69,NaN,7.7

In [21]:
#Drop some columns
dropping = [col for col in cleaned_df.columns if col.startswith(('data','index','spatially'))]
cropped_df = cleaned_df.drop(columns=dropping)
print(cropped_df.columns)

Index(['ISO3 code', 'country', 'market', 'DATES', 'currency', 'apples',
       'bananas', 'beans', 'bread', 'bulgur',
       ...
       'inflation_yam', 'trust_yam', 'o_yogurt', 'c_yogurt',
       'inflation_yogurt', 'trust_yogurt', 'o_food_price_index',
       'c_food_price_index', 'inflation_food_price_index',
       'trust_food_price_index'],
      dtype='object', length=374)

In [23]:
# Get all the food column names
food_columns = [col for col in cropped_df.columns if not (col.startswith(('o_','c_','trust_','inflation_','ISO3','market','ISO3','DATES','country','currency',)))]
print(food_columns)

['apples', 'bananas', 'beans', 'bread', 'bulgur', 'cabbage', 'carrots', 'cassava', 'cassava_flour', 'cassava_meal', 'cheese', 'chickpeas', 'chili', 'coffee_instant', 'couscous', 'cowpeas', 'cucumbers', 'dates', 'eggplants', 'eggs', 'fish', 'fish_catfish', 'fish_mackerel', 'fish_sardine_canned', 'fish_tilapia', 'fish_tuna_canned', 'gari', 'garlic', 'groundnuts', 'lentils', 'livestock_sheep_two_year_old_male', 'livestockgoat_castrated_male', 'livestocksheep_castrated_male', 'maize', 'maize_flour', 'maize_meal', 'meat_beef', 'meat_beef_chops', 'meat_beef_minced', 'meat_buffalo', 'meat_camel', 'meat_chicken', 'meat_chicken_broiler', 'meat_chicken_plucked', 'meat_chicken_whole', 'meat_goat', 'meat_lamb', 'meat_pork', 'milk', 'millet', 'oil', 'onions', 'oranges', 'parsley', 'pasta', 'peas', 'plantains', 'potatoes', 'pulses', 'rice', 'rice_various', 'salt', 'sesame', 'sorghum', 'sorghum_food_aid', 'sugar', 'tea', 'tomatoes', 'tomatoes_paste', 'wheat', 'wheat_flour', 'yam', 'yogurt']

In [27]:
other_columns = [col for col in cropped_df.columns if \
                 (col not in food_columns) and (not col.startswith(('o_','c_','trust_','inflation_',)))]
print(other_columns)

['ISO3 code', 'country', 'market', 'DATES', 'currency']

In [52]:
list_of_df = []

In [ ]:
# For each food in food_columns
# for food in food_columns:
#     temp_df = cropped_df[cropped_df[food].notna()]
#     temp_df
#     break
food = food_columns[0]
temp_df = cropped_df[cropped_df[food].notna()]
open_column = f"o_{food}"
trust_column = f"trust_{food}"
inflation_column = f"inflation_{food}"
close_column = f"c_{food}"
temp1 = [food, open_column, close_column, trust_column, inflation_column]
temp2 = temp1 + other_columns
temp_df = temp_df[temp2]
#list_of_df.append(temp_df)